<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>See Attraction</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>

<body>

<div class="header">
    <h1 th:text="'Visit ' + ${attraction.name}"></h1>
</div>

<div class="card-container">

    <div class="card">
        <div class="card-inner">

            <!-- FRONT -->
            <div class="card-front">
                <h2 th:text="${attraction.name}"></h2>
                <p>Hover to see details</p>
            </div>

            <!-- BACK -->
            <div class="card-back">
                <h3>Description</h3>
                <p th:text="${attraction.description}"></p>

                <h3>City</h3>
                <p th:text="${attraction.location}"></p>
            </div>

        </div>
    </div>

</div>

<br>
<a th:href="@{/attractions}">Back to List</a>

</body>
</html>