<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show attractions</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>

<body>

<h1>Attractions</h1>

<table>
    <tbody th:if="${attractions.isEmpty()}">
    <tr>
        <td colspan="6">There are no attractions yet</td>
    </tr>
    </tbody>

    <thead th:unless="${attractions.isEmpty()}">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Tags</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="attraction : ${attractions}">
        <td th:text="${attraction.name}" class="name-column"></td>
        <td th:text="${attraction.description}"></td>

        <td>
            <a th:href="@{/attractions/{id}/tags(id=${attraction.id})}">Tags</a>
        </td>

        <td>
            <a th:href="@{/attractions/{id}(id=${attraction.id})}">View</a>
        </td>

        <td>
            <a th:href="@{/attractions/{id}/edit(id=${attraction.id})}">Edit</a>
        </td>

        <td>
            <form th:action="@{/attractions/delete/{id}(id=${attraction.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/attractions/add}">Add new attraction</a>

</body>
</html>